In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()
dir_list = os.listdir("/home/pyodide")

['.matplotlib', '.ipython']

In [13]:
print(dir_list)

['tmp', 'home', 'dev', 'proc', 'lib', 'drive']

In [4]:
os.chdir('/')

In [5]:
os.getcwd()

'/'

In [15]:
dir_list = os.listdir("/drive")
print(dir_list)

['Untitled.ipynb', 'notebooks', 'data', 'README.md']

In [16]:
df = pd.read_csv("/drive/data/data1.csv")
df

,Date,Country,City,Region,Segment,Sales,Profit
0,1/1/13,Cote d'Ivoire,Abidjan,Western,Commercial,$656.96,$6.57
1,1/1/13,Madagascar,Antananarivo,Eastern,Public,$875.94,$-70.08
2,1/1/13,Rwanda,Kigali,Eastern,Public,$258.35,$18.08
3,1/1/13,Zimbabwe,Harare,Eastern,Residential,$875.62,$-35.02
4,1/2/13,Ethiopia,Addis Ababa,Eastern,Residential,$509.93,$10.20
...,...,...,...,...,...,...,...
1051,12/20/16,Zimbabwe,Harare,Eastern,Residential,$394.28,$-23.66
1052,12/21/16,Malawi,Blantyre,Eastern,Residential,$333.07,$-16.65
1053,12/22/16,Liberia,Monrovia,Western,Residential,$133.26,$-8.00
1054,12/28/16,Kenya,Nairobi,Eastern,Public,$737.57,$36.88
1055,12/28/16,United Republic of Tanzania,Dar es Salaam,Eastern,Residential,$859.82,$-60.19

In [19]:
df1 = pd.read_csv("/drive/data2.csv")
df1

        Date        Salesperson  Contracts Sold Close Rate
0     1/1/13       Aiden Morris              13        55%
1     1/1/13       Audrey Baker              11        30%
2     1/1/13  Constantine Eager               9        36%
3     1/1/13  Francis Martineau              11        22%
4     1/1/13    George O'Malley              14        33%
..       ...                ...             ...        ...
155  10/1/16       Ken Railings               8        35%
156  10/1/16       Laura Yeager               1        13%
157  10/1/16     Marianne James               6        48%
158  10/1/16      Michael Smith               4        15%
159  10/1/16   Priscilla Taylor              16        51%

[160 rows x 4 columns]

In [ ]:
df['Sales'] = df['Sales'].str.replace('$', '')
df['Profit'] = df['Profit'].str.replace('$', '')

In [29]:
df['Profit'] = df['Profit'].str.replace('-', '0')
df['Sales'] = pd.to_numeric(df['Sales'])
df['Profit'] = pd.to_numeric(df['Profit'])
df.dtypes

Date        object
Country     object
City        object
Region      object
Segment     object
Sales      float64
Profit     float64
dtype: object

In [28]:
df.dtypes

Date        object
Country     object
City        object
Region      object
Segment     object
Sales      float64
Profit      object
dtype: object

In [25]:
df

,Date,Country,City,Region,Segment,Sales,Profit
0,1/1/13,Cote d'Ivoire,Abidjan,Western,Commercial,656.96,6.57
1,1/1/13,Madagascar,Antananarivo,Eastern,Public,875.94,-70.08
2,1/1/13,Rwanda,Kigali,Eastern,Public,258.35,18.08
3,1/1/13,Zimbabwe,Harare,Eastern,Residential,875.62,-35.02
4,1/2/13,Ethiopia,Addis Ababa,Eastern,Residential,509.93,10.20
...,...,...,...,...,...,...,...
1051,12/20/16,Zimbabwe,Harare,Eastern,Residential,394.28,-23.66
1052,12/21/16,Malawi,Blantyre,Eastern,Residential,333.07,-16.65
1053,12/22/16,Liberia,Monrovia,Western,Residential,133.26,-8.00
1054,12/28/16,Kenya,Nairobi,Eastern,Public,737.57,36.88
1055,12/28/16,United Republic of Tanzania,Dar es Salaam,Eastern,Residential,859.82,-60.19

In [30]:
df["orig"] = df["Sales"] - df["Profit"]
df

,Date,Country,City,Region,Segment,Sales,Profit,orig
0,1/1/13,Cote d'Ivoire,Abidjan,Western,Commercial,656.96,6.57,650.39
1,1/1/13,Madagascar,Antananarivo,Eastern,Public,875.94,70.08,805.86
2,1/1/13,Rwanda,Kigali,Eastern,Public,258.35,18.08,240.27
3,1/1/13,Zimbabwe,Harare,Eastern,Residential,875.62,35.02,840.60
4,1/2/13,Ethiopia,Addis Ababa,Eastern,Residential,509.93,10.20,499.73
...,...,...,...,...,...,...,...,...
1051,12/20/16,Zimbabwe,Harare,Eastern,Residential,394.28,23.66,370.62
1052,12/21/16,Malawi,Blantyre,Eastern,Residential,333.07,16.65,316.42
1053,12/22/16,Liberia,Monrovia,Western,Residential,133.26,8.00,125.26
1054,12/28/16,Kenya,Nairobi,Eastern,Public,737.57,36.88,700.69
1055,12/28/16,United Republic of Tanzania,Dar es Salaam,Eastern,Residential,859.82,60.19,799.63

In [36]:
import numpy as np
import pandas as pd
import json
import urllib.request

In [40]:
df3 = pd.read_json("/drive/input_graph_tree.json")
df3

,parent,name,edge_name,children
0,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
1,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
2,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
3,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
4,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
5,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
6,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
7,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
8,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
9,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
10,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
11,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
12,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."
13,null,NodeLvl0-0 (4312),null,"{'parent': 'NodeLvl0-0 (4312)', 'name': 'NodeL..."

In [39]:
url = "https://raw.githubusercontent.com/aavail/ai-workflow-capstone/master/cs-train/invoices-2017-11.json"
dfj = pd.read_json(url)
dfj.head()

<class 'urllib.error.URLError'>: <urlopen error unknown url type: https>